<style>
    	.add-calc{
  display: block;
  width: 100%;
  border: none;
  text-transform: uppercase;
  background-color: transparent;
  font-size: 12px;
  cursor: pointer;
  text-align: left;
  color: #00A5F2;	
}
	.main-content .panel-wrapper-calc {
	margin: 2% -2%;
}

.main-content .panel-wrapper-calc .panel-head-calc {
	background-color: #fff;
	color: #000;
	padding: 1% 1%;
	border-bottom: 1px dashed grey;
}
.main-content .panel-wrapper-calc .panel-body-calc {
	padding: 2% 1% 0% 1.8%;
	background-color: #fff;
	font-size: 80%;
}
@media screen and (max-width: 600px) {
  .foods {
    font-size: 20px;
  }
}
.column {
  float: left;
  width: 15%;
   max-height: 36px; /* Should be removed. Only for demonstration */
}
.columnp {
  float: left;
  width: 15%;
  margin-left: 3.5%;
  max-height: 36px; /* Should be removed. Only for demonstration */
}
.scolumn {
  float: left;
  width: 40%;
  padding: 10px;
  max-height: 36px; /* Should be removed. Only for demonstration */
}
.scolumn1 {
  float: left;
  width: 5%;
  padding-top: 0.7%;
  max-height: 36px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
td{
	border: 1px solid #ddd;
}
td:nth-child(1){
   width: 40em;
}
td:nth-child(2),td:nth-child(3),td:nth-child(4),td:nth-child(5){
	width: 15em;
}

</style>
<div class="main-content">
			<h1>{{user.plan}} Калкулатор</h1>
			<div class="panel-wrapper-calc">
				<div class="panel-head-calc">	
					
					<div class="row">
						    <div class="scolumn" >
								<strong>Закуска</strong>
							</div>
							<div class="column" >
								<img style="max-height:36px;" src="/extra/carbs.png">
							</div>
							<div class="column" >
								<img style="max-height:36px; " src="/extra/fats.png">
							</div>
							<div class="columnp" >
								<img style="max-height:36px; " src="/extra/protein.png">
							</div>
							<div class="scolumn1" >
								<strong>kCal</strong>
							</div>
							</div>
					
				</div>
				<div class="panel-body-calc">    
                {{#if breakfast}}      
                         <table >
							
								<tr style="padding-bottom: 1em;">
                                      
                                    {{#each breakfast~}} 
									

								    {{#nthIteration @index 5}}</tr>{{/nthIteration}}
									{{#nthIteration @index 10}}</tr>{{/nthIteration}}
									{{#nthIteration @index 15}}</tr>{{/nthIteration}}
									{{#nthIteration @index 20}}</tr>{{/nthIteration}}
									{{#nthIteration @index 25}}</tr>{{/nthIteration}}
                                   <td ><h4 >{{this}}</h4></td>
                                    {{/each~}}
									</tr>
									</table>
				{{/if}} <br>
			   <button class="add-calc" onClick="reply_click(this.id)"  id="breakfast">Добави храна</button><br> 
				</div>
			</div>
                               
			<div class="panel-wrapper-calc">
				<div class="panel-head-calc">
					
						<div class="row">
						    <div class="scolumn" >
								<strong>Обяд</strong>
							</div>
							<div class="column" >
								<img style="max-height:36px;" src="/extra/carbs.png">
							</div>
							<div class="column" >
								<img style="max-height:36px; " src="/extra/fats.png">
							</div>
							<div class="columnp" >
								<img style="max-height:36px; " src="/extra/protein.png">
							</div>
							<div class="scolumn1" >
								<strong>kCal</strong>
							</div>
							</div>
					
				</div>
				<div class="panel-body-calc">
                 {{#if lunch}}      
                         <table>
							
								<tr style="padding-bottom: 1em;">
                                      
                                    {{#each lunch~}} 
								      {{#nthIteration @index 5}}</tr>{{/nthIteration}}
									{{#nthIteration @index 10}}</tr>{{/nthIteration}}
									{{#nthIteration @index 15}}</tr>{{/nthIteration}}
									{{#nthIteration @index 20}}</tr>{{/nthIteration}}
									{{#nthIteration @index 25}}</tr>{{/nthIteration}}
                                   <td> <h4>{{this}}</h4></td>
                                    {{/each~}}
									</tr>
									</table>
				{{/if}} <br>
                 <button class="add-calc" onClick="reply_click(this.id)" id="lunch">Добави храна</button><br>
				</div>
			</div>

				<div class="panel-wrapper-calc">
				<div class="panel-head-calc">
					
						<div class="row">
						    <div class="scolumn" >
								<strong>Вечеря</strong>
							</div>
							<div class="column" >
								<img style="max-height:36px;" src="/extra/carbs.png">
							</div>
							<div class="column" >
								<img style="max-height:36px; " src="/extra/fats.png">
							</div>
							<div class="columnp" >
								<img style="max-height:36px; " src="/extra/protein.png">
							</div>
							<div class="scolumn1" >
								<strong>kCal</strong>
							</div>
							</div>
					
				</div>
				<div class="panel-body-calc">
               
                
                 {{#if dinner}}      
                          <table >
							
								<tr style="padding-bottom: 1em;">
                                      
                                    {{#each dinner~}} 
								      {{#nthIteration @index 5}}</tr>{{/nthIteration}}
									{{#nthIteration @index 10}}</tr>{{/nthIteration}}
									{{#nthIteration @index 15}}</tr>{{/nthIteration}}
									{{#nthIteration @index 20}}</tr>{{/nthIteration}}
									{{#nthIteration @index 25}}</tr>{{/nthIteration}}
                                   <td> <h4>{{this}}</h4></td>
                                    {{/each~}}
									</tr>
									</table>
				{{/if}} <br>
				  <button class="add-calc" onClick="reply_click(this.id)" id="dinner">Добави храна</button><br>
				</div>
			</div>

				<div class="panel-wrapper-calc">
				<div class="panel-head-calc">
					
						<div class="row">
						    <div class="scolumn" >
								<strong>Снакс</strong>
							</div>
							<div class="column" >
								<img style="max-height:36px;" src="/extra/carbs.png">
							</div>
							<div class="column" >
								<img style="max-height:36px; " src="/extra/fats.png">
							</div>
							<div class="columnp" >
								<img style="max-height:36px; " src="/extra/protein.png">
							</div>
							<div class="scolumn1" >
								<strong>kCal</strong>
							</div>
							</div>
				</div>
				<div class="panel-body-calc">
                
                {{#if snacks}}      
                         <table >
							
								<tr style="padding-bottom: 1em;">
                                      
                                    {{#each snacks~}} 
								      {{#nthIteration @index 5}}</tr>{{/nthIteration}}
									{{#nthIteration @index 10}}</tr>{{/nthIteration}}
									{{#nthIteration @index 15}}</tr>{{/nthIteration}}
									{{#nthIteration @index 20}}</tr>{{/nthIteration}}
									{{#nthIteration @index 25}}</tr>{{/nthIteration}}
                                   <td> <h4>{{this}}</h4></td>
                                    {{/each~}}
									</tr>
									</table>
				{{/if}} <br>
				 <button class="add-calc" onClick="reply_click(this.id)" id="snacks">Добави храна</button><br>
                 {{>foodForm}}
				</div>
			</div>






		</div>
	</div>