	<div class="main-content">
			<h1>Профил</h1>
			<div class="panel-wrapper">
				<div class="panel-head">
					Информация за {{user.name}}
				</div>
				<div class="panel-body">
				  <p>Emeil : {{user.email}}</p>
                  <p>Дата на Раждане : {{date}}</p>
                  <p>Професия : {{user.proffesion}}</p> 
                  <p>Телефонен Номер: {{user.phoneNum}}</p> 
                  <p> Искам да... : {{user.iskamDa}}</p>
                  <p>Също да...: {{user.alsoTo}}</p>
                  <p>На скала от 1 до 5, моля, посочете до каква степен сте готови да се грижите за здравето и фигурата си? : {{user.skalaMotiviran}}</p>
                  <p>Имате ли предишен опит в спазването на хранителен режим? : {{user.opitHranRejim}}</p>
                  <p>Кога, колко време и какъв хранителен план сте следвали? Резултатите от него, недостатъци и проблеми, ако има такива? : {{user.kakuwHranRejim}}</p>
                  <p>Има ли храни, които не обичате, имате алергии или непоносимост? Ако има такива, моля, опишете ги: {{user.alergiiHran}}</p>
                  <p>Кои дни от седмицата са удобни за тренировка? : {{user.udobniDni}}</p>
                  <p>По кое време през деня ще Ви е удобно да спортувате? : {{user.udobnoVreme}}</p>
                  <p>Какво спортувате в момента и какъв спорт искате да практикувате сега? : {{user.kolkoSportuwate}}</p>
                  <p>По колко дни тренирате в момента през седмицата? : {{user.kolkoDniSportuwate}}</p>
                  <p>Какви добавки приемате в момента, по колко и от колко време? : {{user.priemaneDobawki}}</p>
                  <p>Колко часа сън имате? : {{user.chasaSunImate}}</p>
                  <p>Как протича вашето ежедневие? : {{user.opishiEjednevie}}</p>
                  <p>Колко процента подкожни мазнини имате според снимката? : {{user.procentaMaznina}}</p>
                  <p>Колко килограма сте? : {{user.kilogrami}}</p>
                  <p>Колко сте високи (см)? : {{user.visochina}}</p>
                  <p>Талия(см)? : {{user.taliq}}</p>
                  <p>Ръце(см)? : {{user.ruce}}</p>
                  <p>Бедро(см)?: {{user.bedro}}</p>
                  <p>Гръдна(см)? : {{user.gurda}}</p>
                  <p>Ханш - за жени (см)? (Ако сте Мъж напишете - 0) : {{user.hansh}}</p>
                  <p>Имали ли сте някога наранявания или болки в която и да е част от тялото (глезен, колене, гръб, рамене, корем и т.н.) : {{user.imaliOperacii}}</p>
                  <p>Диагностицирали ли сте някога хронично заболяване като коронарна (исхемична) болест на сърцето или артериите, високо кръвно налягане, висок холестерол, диабет, хормонални проблеми, киста, онкологично заболяване или други? Ако имате ми пишете подробно вида заболяване, кога е открито, с какви медикаменти се лекувате, какви дози, колко време и как сте в момента: : {{user.imaliBolesti}}</p>
				</div>
			</div>
		</div>
	</div>
   